<launch>
  <arg name="port" default="/dev/ttyACM1" />
  <arg name="baud" default="921600" />
  <arg name="rviz_config" default="$(find dm_imu)/rviz/imu.rviz" />

  <node pkg="dm_imu" type="dm_imu_node" name="dm_imu_node" required="true" output = "screen" >
    <param name="port"  type="string" value="$(arg port)" />
    <param name="baud"  type="int"    value="$(arg baud)"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" required="true"/>

</launch>
