#!/usr/bin/env python
PACKAGE = "legged_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enable_output", bool_t, 0, "Enable motor output command", True)
gen.add("command_velocity", double_t, 0, "Target velocity [rad/s]", 0.0, -20.0, 20.0)
gen.add("command_kp", double_t, 0, "Position gain Kp", 30.0, 0.0, 80.0)
gen.add("command_kd", double_t, 0, "Velocity gain Kd", 1.0, 0.0, 8.0)
gen.add("command_ff", double_t, 0, "Feed-forward torque [Nm]", 0.0, -20.0, 20.0)

gen.add("joint_1_deg", double_t, 0, "Joint 1 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_2_deg", double_t, 0, "Joint 2 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_3_deg", double_t, 0, "Joint 3 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_4_deg", double_t, 0, "Joint 4 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_5_deg", double_t, 0, "Joint 5 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_6_deg", double_t, 0, "Joint 6 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_7_deg", double_t, 0, "Joint 7 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_8_deg", double_t, 0, "Joint 8 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_9_deg", double_t, 0, "Joint 9 target angle [deg]", 0.0, -180.0, 180.0)
gen.add("joint_10_deg", double_t, 0, "Joint 10 target angle [deg]", 0.0, -180.0, 180.0)

exit(gen.generate(PACKAGE, "legged_controllers", "DmMotorTest"))
